
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@Html.ActionLink("SendMessage", "SendMessage")
<input type="button" title="SendMessage" value="D" onclick=SendMessage(); />
<a id="crudBtnSize" class="btn btn-warning" asp-action="SendMessage">SendMessage</a>


